<h1>Welcome to Rock-Paper-Scissors!</h1>
	
<ul>
  <li><%= link_to "Play Rock", "/rock" %></li>
  <li><%= link_to "Play Paper", "/paper" %></li>
  <li><%= link_to "Play Scissors", "/scissors" %></li>
  <li><%= link_to "Rules", "/" %></li>
</ul>
